<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="attractions.css"/>
    <title>Kim Impossible | Attractions</title>
</head>
<body>
    
    <div class="page-container">

        <div id="navbar">
            <a class="navbar-link" href='./index.html'>Home</a>
            <a class="navbar-link" href='./components/Attractions/attractions.html'>Attractions</a>
            <a class="navbar-link" href='./components/ContactUs/contactUs.html'>Contact Us</a>
            <a class="navbar-link" href="./components/BookNow/bookNow.html" id="navbar-button">Book Now</a>
        </div>

        <div class="theme-container">
            <p id="theme-header">Pick Your Theme!</p>

            <div style="background-image: url(../../assets/fun_theme.jpg);" class="theme">
                <p class="theme-title" id="SacredLand_Button">Sacred Land</p>
            </div>

            <div style="background-image: url(../../assets/devil_theme.jpg);" class="theme">
                <p class="theme-title" id="DevilLand_Button">Underworld</p>
            </div>
        </div>

    </div>

    <script src="./attractions.js"></script>
</body>
</html>