* 

body {
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    width: 100%;
}

#navbar {
    width: 30%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60%;
    color: white;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

#navbar-button {
    padding: 10px;
    background-color: rgb(112, 212, 35);
    border-radius: 4px;
}

#background-image {
    width: 100%;
    height: 90vh;
}

.content-OuterContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    max-width: 1450px;
    text-align: center;
    align-items: center;
}

.header {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: white;
}

.content-InnerContainer {
    border: 100px;
    border-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}

.content-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1rem;
    color: white;
}


.theme-image {
    width: 300px;
    height: 270px;
}

.content-paragraph {
    width: 300px;
    text-align: justify;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
    color: white;
}

.learnMore-button {
    width: 95px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0.4rem;
    margin-bottom: 100px;
    color: white;
    height: 25px;
}

.learnMore-button:hover {
    border-bottom: 2px solid;
    border-color: rgb(112, 212, 35);
    width: 95px;
}

#FAQ {
    width: 70%;
    margin: auto;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 0.5rem;
    color: white;
}

.question-div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: rgb(112, 212, 35);
    margin-bottom: 1.5rem;
}

.question {
    margin-bottom: 0.5rem;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(112, 212, 35);
    text-align: center;
}

#FAQ-button {
    padding: 8px;
    border: 2px solid rgb(138, 138, 138);
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    margin: auto;
    margin-top: 1rem;
    color: rgb(112, 212, 35);
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
