font-face {
    font-family:"testing";
    src: url(assets/fonts/vipnagorgialla.ttf)format(truetype);
}

body {
    background-color: #dddddd;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}


#container {
    width: 100%;
}


/* CSS For the Navigation Bar */

.navbar {
    width: 70%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
}

.logo {
    width: 200px;
    height: 50px;
}

.links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: test;
}

.links a {
    text-decoration: none;
    color: black
}

#bookNow_btn {
    padding: 12px;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* CSS For the Navigation Bar */

#bgImage_container {
    position: relative;
}

#main_bgImage {
    width: 100%;
    height: 87vh;
}

#bgImage_logo {
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.mainHeader {
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
    font-size: 48px;
}





















.header {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 4rem auto 0.2rem;
}

.categories {
    display: flex;
    flex-direction: row;    
    width: 60%;
    max-width: 1440px;
    margin: 2rem 0rem 1.5rem;
    justify-content: space-between;
}

.individual_category {
    width: auto;
    padding-bottom: 12px;
    cursor: pointer;
}

#cat1 {
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(187, 121, 0);
    color: rgb(187, 121, 0);
}

.attraction_image {
    width: 100%;
    border-radius: 5px;
}

.attractions_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}


.title {
    font-size: 24px;
    letter-spacing: 1.2px;
    margin: 0.6rem 0rem;
}

.price {
    font-size: 20px;
    color: rgb(187, 121, 0);
    font-weight: bold;
    margin: 0.3rem 0rem 0.6rem;
}

.readMore_btn {
    margin-top: 2rem;
    padding: 10px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    width: 110px;
    text-align: center;
}

.readMore_btn:hover {
    color: white;
    background-color: rgb(187, 121, 0);
    cursor: pointer;
}



.BG_Image {
    width: 100%;
    opacity: 0.15;
}

.backstory {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.question {
    font-size: 24px;
    margin: 2.5rem 0rem 0.8rem;
}

.the_team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.profile_picture {
    border-radius: 50%;
    width: 150px;
}

.team_member {
    text-align: center;
}

.team_member p {
    font-size: 20px;
}


.footer_container {
    width: 100%;
    background-color: rgb(235, 152, 0);
    height: 150px;
    position: relative;
}

.footer_upper {
    
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0rem auto 0rem;
    padding-top: 2rem;
}





.footer_logo {
    display: flex;
    flex-direction: column;
    width: 12%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;   
}

.footer_logo p {
    margin-top: 0.4rem;
    text-transform: uppercase;
}

.footer_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    margin-right: 28%;
}

.footer_links a {
    text-decoration: none;
    color: black;
}

.footer_socials {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 4.8%;
}





























/* 
.icon {
    width: 5%;
    margin: auto;
}

.FAQ_section {
    width: 64%;
    margin: auto;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    color: white;
}

.question_div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: rgb(255, 215, 141);
    margin-top: 1.2rem;
    cursor: pointer;
}

.question {
    margin-bottom: 0.5rem;
}

.answer_div {
    display: 'flex';
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    padding-left: 10px;
}

#FAQ_showMoreBtn {
    padding: 8px;
    border: 2px solid rgb(138, 138, 138);
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    margin: auto;
    margin-top: 1.8rem;
    color: white;
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(112, 212, 35);
    text-align: center;
    margin-top: 5rem;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }


  .bottom-left {
    color: white;
    font-size: 2.5cm;
    border: 1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
  }  */
  
  /* Top left text */
  /* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  } */
  
  /* Top right text */
  /* .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  } */
  
  /* Bottom right text */
 /* .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  } */

  /* Centered text */
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */


.modal_container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    flex-direction: column;
}

#modal_btn {
    color: white;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
}


.content_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 1px auto;
    color: white;
    margin-top: 0.8rem;
    font-size: 18px;
}

.input_section {
    width: 45%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_section form {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 131px;
}

.input_section form input {
    border: none;
    outline: none;
    background-color: #3b3b3bbf;
    height: 40px;
    border-radius: 5px;
    color: rgb(180, 180, 180);
    padding-left: 10px;
    padding-right: 10px;
}

::placeholder {
    color: rgb(180, 180, 180);
    font-size: 15px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}




.ticketSelectorContainer {
    display: flex;
    flex-direction: column;
}

.ticketSelector {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.ticket_counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4rem;
}

.ticketClicker {
    padding: 6px;
    border-radius: 2px;
    background-color: orange;
}

#adult_counter {
    font-size: 18px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

#children_counter {
    font-size: 18px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.calculatorContainer {
    width: 50%;
    height: 50vh;
    background-color: #3b3b3bbf;
    border-radius: 10px;
}

.calculatorHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-left: 10px;
    margin-top: 0.6rem;
}

.ticketSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 20px;
}

.totalPrice_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20px;
    align-items: center;
    margin-top: 60%;
    padding-top: 5%;
    border-top: 2px solid black;
}
