
*
font-face {
    font-family:"testing";
    src: url(assets/fonts/vipnagorgialla.ttf)format(truetype);
}

body {
    background-color: black;
}

.logo {
    width: 200px;
    height: 200px;
    top:0;
    left: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    width: 100%;
}

.navbar_container {
    width: 65%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    align-items: center;
}

.logo_div {
    width: 20%;
}

.web_logo {
    width: 100%;
    height: 50px;
}

.navbar_links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: test;
}

#bookNow_btn {
    padding: 12px;
    background-color: orange;
    border-radius: 5px;
}

#bgImage_container {
    position: relative;
}

#main_bgImage {
    width: 100%;
    height: 90vh;
}

#bgImage_logo {
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    color: white;
    text-align: center;
    background-color: rgb(34, 34, 34);
    height: 100px;
    border-radius: 8px;
}



.content_container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1450px;
    margin-bottom: 3.5rem;
}

.individual_section {
    display: flex;
    flex-direction: column;
    width: 30%;
}


.section_title {
    font-size: 20px;
    margin-bottom: 0.4rem;
    color: white;
}

.ride_image {
    width: 100%;
    height: 290px;
}


.section_description {
    width: 100%;
    text-align: justify;
    margin-bottom: 1.2rem;
    margin-top: 0.6rem;
    color: white;
}

.readMore_container {
    width: 40%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.readMore_container:hover .icon{
    margin-left: 20px;
}


.readMore_btn {
    display: flex;
    width: 70%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.icon {
    width: 5%;
    margin: auto;
}

.FAQ_section {
    width: 64%;
    margin: auto;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    color: white;
}

.question_div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: rgb(112, 212, 35);
    margin-top: 1.2rem;
    cursor: pointer;
}

.question {
    margin-bottom: 0.5rem;
}

.answer_div {
    display: 'flex';
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    padding-left: 10px;
}

#FAQ_showMoreBtn {
    padding: 8px;
    border: 2px solid rgb(138, 138, 138);
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    margin: auto;
    margin-top: 1.8rem;
    color: rgb(112, 212, 35);
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(112, 212, 35);
    text-align: center;
    margin-top: 5rem;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }


  .bottom-left {
    color: white;
    font-size: 2.5cm;
    border: 1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 8px;
    left: 16px;
  } 
  
  /* Top left text */
  /* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  } */
  
  /* Top right text */
  /* .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  } */
  
  /* Bottom right text */
 /* .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  } */

  /* Centered text */
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

