<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactUs.css"/>
    <title>Kim Impossible | Contact Us</title>
    <script src="https://kit.fontawesome.com/7fc7895a6d.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./contactUs.css" />
</head>
<body>
    <div id="container">
        <div class="navbar_container">
            <!-- Logo -->
            <div class="logo_div">
                <img class="web_logo" src="../../assets/main_logo.png" alt="Logo"/>
            </div>

            <!-- Navbar links -->
            <div class="navbar_links">
                <a href="../../index.html" style="text-decoration: none; color: white;">Home</a>
                <a href="../../components/Attractions/attractions.html" style="text-decoration: none; color: white;">Attractions</a>
                <a href="../../components/ContactUs/contactUs.html" style="text-decoration: none; color: white;">Contact Us</a>
                <a href="#" id="bookNow_btn" style="text-decoration: none; color: black; font-weight: bold;">Book Now</a>
            </div>
        </div>

        <div class="modal_container" id="modalContainer">
            <p id="modal_btn"><i class="fa-solid fa-xmark"></i></p>

            <!-- Input Content -->
            <div class="content_container">
                <div class="input_section">
                    <form action="">
                        <input type="text" placeholder="Name" required>
                        <input type="" placeholder="Phone Number" required>
                        <input type="date" required>
                    </form>

                    <div>
                        <p>Number of Tickets</p>

                        <div>
                            <p >Adult</p>
                            <div class="ticket_counter">
                                <!-- <i class="fa-solid fa-angle-left" id="adult_increase"></i> -->
                                <p onclick="plusAdultHandler()">Increase</p>
                                <p id="adult_counter"></p>
                                <p onclick="minusAdultHandler()">Decrease</p>
                            </div>
                        </div>
                    </div>

                </div>

            <!-- Calculator -->


            </div>
            <!-- Name, email, contact number -->
            <!-- date -->
            <!-- number of adults and children -->
            <!-- Calculator for total price -->
            <!-- book now button -->

        </div>

        <h1 class="title">Contact<span style="padding-left: 10px;">Us</span></h1>

        <div class ="contact_container">
            <div class="contact_form">
                <!-- <p>Need to get in touch with the team? Drop us a message!</p> -->
                <form action="">
                    <input type="" placeholder="Your Name" required>
                    <input type ="email" name="email" id ="" placeholder="E-mail" required>
                    <input type ="" placeholder="Subject" required>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                    <input style="padding-right: 15px;" type="submit" name="" value="Submit" class="btn">
                </form>
            </div>

            <!-- iFrame -->
            <div class="mapContainer">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.1378272235686!2d103.77493641143926!3d1.3290717479515257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1080893304bd%3A0xc889e76f4e447e42!2sSIM%20Global%20Education!5e0!3m2!1sen!2ssg!4v1671503385369!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- 
            <div id="footer">
                <p>This is a footer</p>
            </div>    -->
        </div>
    </div>   

    <script src="./script.js"></script>

</body>
</html>

