body {
    background-color: black;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

#container {
    width: 100%;
}

#navbar {
    width: 30%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60%;
    color: white;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

#navbar-button {
    padding: 10px;
    background-color: rgb(112, 212, 35);
    border-radius: 4px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.map {
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}

iframe {
    width: 100%;
    height: 500px;
    filter: invert(100%);
}


.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1440px;
    margin-top: 2rem;
}

.leftContainer {
    width: 50%;
    margin: auto;
    margin-left: 12%;
    padding-bottom: 12%;
}

.btnContainer {
    width: 45%;
    display: flex;
    flex-directioN: row;
    margin-top: 1.2rem;
    justify-content: space-between;
}

.btn {
    padding: 8px;
    background-color: red;
    border-radius: 6px;
    cursor: pointer;
}

.mapContainer {
    width: 50%;
}