<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contactUs.css"/>
    <title>Kim Impossible | Contact Us</title>
</head>
<body>
    <div id="container">
        <div id="navbar">
            <a class="navbar-link" href='./index.html'>Home</a>
            <a class="navbar-link" href='./components/Attractions/attractions.html'>Attractions</a>
            <a class="navbar-link" href='./components/ContactUs/contactUs.html'>Contact Us</a>
            <a class="navbar-link" href="./components/BookNow/bookNow.html" id="navbar-button">Book Now</a>
        </div>

</html>