body {
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_container {
    width: 65%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    align-items: center;
}

.logo_div {
    width: 20%;
}

.web_logo {
    width: 100%;
    height: 50px;
}

.navbar_links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bookNow_btn {
    padding: 12px;
    background-color: orange;
    border-radius: 5px;
}

.modal_container {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    flex-direction: column;
}

#modal_btn {
    color: white;
}


.content_container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1px auto;
    color: white;
}

.input_section form {
    display: flex;
    flex-direction: column;
}


.ticket_counter {
    display: flex;
    flex-direction: row;
}













.title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  section{
    padding: 40px, 15%;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    width: 75%; 
}

.contact_form {
    width: 45%;
}

.contact_form h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

span{
    color: orange;
}

.contact_form p{
    color: #c6c9d8bf;
    letter-spacing: 0.4px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact_form form input,
form textarea{
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(34, 34, 34);
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    padding-left: 15px;
    margin-left: 15%;
}

.contact_form textarea{
    resize: none;
    height: 150px;
    padding-top: 10px;
}

  
.mapContainer {
    width: 45%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

iframe {
    width: 100%;
    height: 500px;
    filter: invert(100%);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(112, 212, 35);
    text-align: center;
    margin-top: 5rem;
}


