body {
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar_container {
    width: 65%;
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    align-items: center;
}

.logo_div {
    width: 20%;
}

.web_logo {
    width: 100%;
    height: 50px;
}

.navbar_links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bookNow_btn {
    padding: 12px;
    background-color: orange;
    border-radius: 5px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  section{
    padding: 40px, 15%;
}

.contact{
    background: black;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: (2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-form h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

span{
    color: rgb(112, 212, 35);
}

.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
}
.container-form form{
    position: relative;
}

.contact-form form input,
form textarea{
    width: 70%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    margin-left: 15%
}

.contact-form textarea{
    resize: none;
    height: 200px;
}

  
.mapContainer {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 15%
}

iframe {
    width: 100%;
    height: 500px;
    filter: invert(100%);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(112, 212, 35);
    text-align: center;
    margin-top: 5rem;
}


