<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sacredLand.css"/>
    <title>Kim Impossible | Sacred Land Rides</title>
</head>
<body>
    <div class="container">

        <!-- Navbar -->
        <div class="navbar_container">
            <div id="navbar">
                <a class="navbar-link" href='../../../index.html'>Home</a>
                <a class="navbar-link" href='../../Attractions/attractions.html'>Attractions</a>
                <a class="navbar-link" href='../../ContactUs/contactUs.html'>Contact Us</a>
                <a class="navbar-link" href="../../BookNow/bookNow.html" id="navbar-button">Book Now</a>
            </div>
        </div>


        <!-- Poster and a short backstory -->
        <div>

        </div>

        <!-- Main content (Rides) -->

        <div class="outerContentContainer">
            <div class="content_header">
                <div id="horizontal_line"></div>
                <p style="font-size: 24px; font-weight: bold;">Featured Rides At Sacred Land</p>
                <div id="horizontal_line"></div>
            </div>

            <div class="innerContentContainer">
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="content">
                    <p>Bunny Coaster</p>
                    <img class="content_image" src="../../../assets/rollerCoaster.jpg" />
                    <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>