<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kim Impossible | Book Now</title>

    <link rel="stylesheet" href="tickets.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <!-- == Top nav == -->
    <nav class="navbar_container">
        <!-- Logo -->
        <div class="logo_div">
            <img class="web_logo" src="../../assets/main_logo.png" alt="Logo"/>
        </div>

        <!-- Navbar links -->
        <div class="navbar_links">
            <a href="../../index.html" style="text-decoration: none; color: white;">Home</a>
            <a href="../../components/Attractions/attractions.html" style="text-decoration: none; color: white;">Attractions</a>
            <a href="../../components/ContactUs/contactUs.html" style="text-decoration: none; color: white;">Contact Us</a>
            <a href="../Tickets/tickets.html" style="text-decoration: none; color: white;">Tickets</a>
            <a href="#" id="bookNow_btn" style="text-decoration: none; color: black; font-weight: bold;">Book Now</a>
        </div>
    </nav>

    <!-- == Hero Section == -->
    <section class="hero">
        <div class="title-group">
            <h1>Celebrate Xmas with 50% Off group ticket!</h1>
            <a href="#">Learn more</a>
        </div>

        <div class="quick-links">
            <a href="#">
                <i class="fa-solid fa-ticket"></i>
                Ticket
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-gift"></i>
                Coupons
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-users"></i>
                Group
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <!-- == Purchase Options Section == -->
    <ul class="location-list">
        <li>
            <div class="image-cover"></div>
            <div class="text-layer">
                <h3>KIM Possible</h3>
                <p>Park</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et dignissimos nostrum natus quos modi.</p>
                <a href="#">Explore</a>
            </div>
        </li>
        <li>
            <div class="image-cover"></div>
            <div class="text-layer">
                <h3>Jade Stream</h3>
                <p>Park</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At ipsa explicabo fugit nobis voluptatum sapiente!</p>
                <a href="#">Explore</a>
            </div>
        </li>
        <li>
            <div class="image-cover"></div>
            <div class="text-layer">
                <h3>KIMARINE</h3>
                <p>Aquarium</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sapiente? Delectus esse accusamus iusto voluptatum.</p>
                <a href="#">Explore</a>
            </div>
        </li>
    </ul>

    <!-- == Footer == -->
    <footer id="footer">
        <p>This is a footer</p>
    </footer>
</body>
</html>